{
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"singleQuote": false,
	"printWidth": 78,
	"overrides": [
		{
			"files": "*.sol",
			"options": {
				"printWidth": 65,
				"tabWidth": 4,
				"useTabs": false,
				"singleQuote": false,
				"bracketSpacing": false,
				"explicitTypes": "preserve"
			}
		}
	]
}
